flask
dependency-injector==4.40.0
bdkpython==0.31.0
# if bdkpython not install I can use the local wheel file
# bdkpython-0.31.0-cp310-cp310-macosx_11_0_x86_64.whl
Flask-SQLAlchemy
pytest==8.2.0
flask-cors
requests
structlog
pydantic==2.7.1
click===8.1.7
aiohttp===3.9.5
pyinstaller===6.8.0
chardet
charset-normalizer==2.1.0
hwi===3.0.0
cryptography==42.0.8
bitcoinlib==0.6.15
